<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/plantilla :: head"></head>
<body>
	<header th:replace="plantilla/plantilla :: header"></header>
	<div class="container">
		<h1 class="text-secondary border border-success border-top-0">Lista
			productos</h1>
		<br />
		<table th:if="${!cls.isEmpty()}" class="table table-striped">
			<thead class="table table-dark table-bordered">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Producto</th>
					<th scope="col">Precio</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cl: ${cls}">
					<td th:text="${cl.idProductos}">
					<td th:text="${cl.nombreProductos}">
					<td th:text="${cl.precioProductos}">
				</tr>
			</tbody>
		</table>
		<nav th:replace="plantilla/pag-nav :: paginador"></nav>
	</div>
	<footer th:replace="plantilla/plantilla :: footer"></footer>
</body>
</html>